<%- include('../includes/head.ejs')%>
<body>
    <%- include('../includes/nav.ejs')%>
    <div class="container d-flex justify-content-center align-items-center flex-column">
        <i class="fa fa-check-circle mb-3" style="font-size:10rem;color:rgb(143, 231, 12)"></i>
        <p>Account Verified. Please login to continue</p>
    </div>
    <%- include('../includes/footer.ejs')%>
</body>
</html>