<%- include('../includes/head.ejs')%>
<style>
  #heading{
    background-color: aqua;
  }
</style>
<body>
  <% if(errorMessage) {%>
    <h1 id="heading"><%= errorMessage %></h1>
<%}%>
    <div class="container">
        <form action="/login" method="POST">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" value="<%= oldInput.email %>">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="pass" value="<%= oldInput.password %>">
            </div>
            <button type="submit" class="btn btn-primary">login</button>
            <a href="/reset">Forget Password ?</a>
          </form>
    </div>
</body>