<%- include('../includes/head.ejs')%>
<style>
  #heading{
    background-color: aqua;
  }
</style>
<body>
  <% if(errorMessage) {%>
    <h1 id="heading"><%= errorMessage %></h1>
<%}%>
    <div class="container">
        <form action="/setNewPassword" method="POST">
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="pass">
            </div>
            <input type="hidden" name="userId" value = "<%=userId%>">
            <button type="submit" class="btn btn-primary">Update password</button>
          </form>
    </div>
</body>