<%- include('../includes/head.ejs')%>
<body>
    <%- include('../includes/nav.ejs')%>
    <figure class="text-center">
        <blockquote class="blockquote">
          <h1>Please Verify Your Account</h1>
        </blockquote>
        <figcaption class="blockquote-footer">
          Check your email for a verification link
        </figcaption>
    </figure>
    <%- include('../includes/footer.ejs')%>
</body>
</html>