<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Mayank</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" class = "<%= pagetitle === 'shop'?'active':'' %>" aria-current="page" href="/">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" class = "<%= pagetitle === 'shop'?'active':'' %>" aria-current="page" href="/products">Products</a>
                </li>
                <% if(isAuthenticated) {%>
                    <li class="nav-item">
                        <a class="nav-link" class = "<%= pagetitle === 'shop'?'active':'' %>" aria-current="page" href="/orders">orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" class = "<%= pagetitle === 'shop'?'active':'' %>" aria-current="page" href="/cart">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/add-product">Add Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/products">Admin Products </a>
                    </li>
                    <li class="nav-item">
                        <form action="/logout" method="POST">
                            <button type="submit" class="btn btn-primary">Logout</button>
                        </form>
                    </li>
                <%}else{%>
                <li class="nav-item">
                    <a class="nav-link" href="/login"> Login</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="/signup"> Sign up</a>
                </li> 
                <%}%>
            </ul>
        </div>
    </div>
</nav>