<!-- Topbar Start -->
<div class="container-fluid">
    <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
        <div class="col-lg-4">
            <a href="" class="text-decoration-none">
                <span class="h1 text-uppercase text-primary bg-dark px-2">Multi</span>
                <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Shop</span>
            </a>
        </div>
        <div class="col-lg-4 col-6 text-left">
            <form action="">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for products">
                    <div class="input-group-append">
                        <span class="input-group-text bg-transparent text-primary">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid bg-dark mb-30">
    <div class="row px-xl-5">
        <div>
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
                <a href="" class="text-decoration-none d-block d-lg-none">
                    <span class="h1 text-uppercase text-dark bg-light px-2">Multi</span>
                    <span class="h1 text-uppercase text-light bg-primary px-2 ml-n1">Shop</span>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a href="/products" class="nav-item nav-link">Products</a>
                        <%if(isAuthenticated){%>
                            <a href="/orders" class="nav-item nav-link">Orders</a>
                            <a href="/cart" class="nav-item nav-link">Cart</a>
                            <a href="/user-orders" class="nav-item nav-link">User Orders</a>
                            <a href="/admin/add-product" class="nav-item nav-link">Add Product</a>
                            <a href="/admin/products" class="nav-item nav-link">Admin Product</a>
                            <a class="nav-item nav-link" href="/logout">Logout</a>
                            <%} else {%>
                                <a href="/login" class="nav-item nav-link">Login</a>
                                <a href="/signup" class="nav-item nav-link">Signup</a>
                            <%}%>
                    </div>
                    <%if(isAuthenticated){%>
                        <a class="navbar-brand d-flex" href="/profile">
                            <img id="userProfile" src="" alt="" width="30" height="24">
                        </a>
                        <%}%>
                </div>
            </nav>
        </div>
    </div>
</div>
<script>

        const profile = document.getElementById('userProfile');
        if(profile){
            let cookies = document.cookie.split(";");
            console.log(cookies);
            cookies.forEach(cookie => {
                let cook = cookie.split('=')
                console.log(cook);
                if (cook[0].trim() === "imageUrl") {
                    cook[1] = decodeURI(cook[1]);
                    if(cook[1] === "undefined"){
                        profile.src = "http://localhost:3000/images/default-user-picture.png";
                    }
                    else profile.src = '/' + cook[1];
                    console.log(cook[1]);
                }
            })
        }
</script>
<!-- Navbar End -->