<%- include('./includes/head.ejs')%>
<body>
    <%- include('./includes/nav.ejs')%>
    <h1>Some technical error occured, sorry for the inconvenience caused</h1>
    <%- include('./includes/footer.ejs')%>
</body>